.index{
    background-color:rgb(43, 41, 41);
}

.main-header{
    color:rgb(0, 255, 255);
    text-align:center;
    font-family: 'Arial', "Times New Roman", sans-serif;
    background-color:rgba(205, 255, 216, 0.178);
    font-size:32px;
    font-weight: 900px;

}

.link-one, .link-two, .link-three{
    text-align:left;
    font-family: 'Courier Monospace', 'Verdana',  serif;
    font-size:16px;
    font-weight: 500;

}

.link-two{
    background-color:rgb(252, 173, 185);
    color:rgb(247, 2, 2);
}

.link-three{
    background-color:rgb(131, 33, 33);
    color:rgb(255, 255, 0);
}

.lasagna-main {
    background-color:blanchedalmond;
    font-size:16px;
    font-family:Verdana, Tahoma, sans-serif;

}

.lasagna-head{
    color:rgb(245, 3, 245);
    text-align:center;
    font-size:32px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;

}

.lasagna-subhead{
    color: rgb(3, 139, 173);
    text-align:left;
    font-size:24px;
    font-family:Arial, Helvetica, sans-serif;
}